{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Mitarbeiter bearbeiten</h1>
	
	{{ form_start(edit_form) }}
		<div class="col-md-6 form-group">
			{{ form_label(edit_form.firstName, 'Vorname') }}
			{{ form_errors(edit_form.firstName) }}
			{{ form_widget(edit_form.firstName, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="col-md-6 form-group">
			{{ form_label(edit_form.lastName, 'Nachname') }}
			{{ form_errors(edit_form.lastName) }}
			{{ form_widget(edit_form.lastName, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="col-md-6 form-group">
			{{ form_label(edit_form.username, 'Benutzername') }}
			{{ form_errors(edit_form.username) }}
			{{ form_widget(edit_form.username, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="col-md-6 form-group">
			{{ form_label(edit_form.email, 'Email') }}
			{{ form_errors(edit_form.email) }}
			{{ form_widget(edit_form.email, {'attr': {'class': 'form-control'}}) }}
		</div>
		{{ form_errors(edit_form.password) }}
		<div class="col-md-6 form-group">
			{{ form_row(edit_form.password.password, {'label': 'Passwort', 'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="col-md-6 form-group">
			{{ form_row(edit_form.password.confirm, {'label': 'Passwort wiederholen', 'attr': {'class': 'form-control'}}) }}
		</div>
		
    	<div class="col-md-6 form-group">
    		
    	</div>
		<div class="col-md-6 form-group">
			<a href="{{ path('employee') }}" class="btn btn-default">Zurück</a>
			<input type="submit" class="btn btn-primary pull-right" value="Änderungen speichern">      	
		</div>
	{{ form_end(edit_form) }}

		<div class="col-md-12 form-group">
    		{{ form_start(delete_form) }}
    			<input type="submit" style="margin-top: -49px;" class="btn btn-danger pull-left" value="Mitarbeiter Löschen">
    		{{ form_end(delete_form) }}		
		</div>
    
{% endblock %}
