{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Mitarbeiter erstellen</h1>

	{{ form_start(form) }}
		
		<div class="col-md-6 form-group">
			{{ form_label(form.firstName, 'Vorname') }}
			{{ form_errors(form.firstName) }}
			{{ form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="col-md-6 form-group">
			{{ form_label(form.lastName, 'Nachname') }}
			{{ form_errors(form.lastName) }}
			{{ form_widget(form.lastName, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="col-md-6 form-group">
			{{ form_label(form.username, 'Benutzername') }}
			{{ form_errors(form.username) }}
			{{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="col-md-6 form-group">
			{{ form_label(form.email, 'Email') }}
			{{ form_errors(form.email) }}
			{{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
		</div>
		{{ form_errors(form.password) }}
		<div class="col-md-6 form-group">
			{{ form_row(form.password.password, {'label': 'Passwort', 'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="col-md-6 form-group">
			{{ form_row(form.password.confirm, {'label': 'Passwort wiederholen', 'attr': {'class': 'form-control'}}) }}
		</div>

		<div class="col-md-12 form-group">
			<input type="submit" class="btn btn-primary pull-right" value="Erstellen">
        	<a href="{{ path('employee') }}" class="btn btn-default pull-left">Zurück</a>
		</div>
	{{ form_end(form) }}
	
{% endblock %}
