{% extends '::base.html.twig' %}

{% block body %}

{{ form_start(form) }}
	{{ form_errors(form) }}
	<div class="row">
		<div style="width: 600px; margin-left: -300px; margin-top: -110px; position: absolute; left: 50%; top: 50%;">
			<form role="form">
				<div class="panel panel-primary">
					<div class="panel-heading">
						Passwort zur&uuml;cksetzen
					</div>
		    			{% if error != ''  %}
		    				<p class="bg-danger" style="padding: 15px;">
		    					{{ error }}
		    				</p>
		    			{% endif %}	
					<div class="panel-body">
						<div class="col-md-12 form-group">				
					    	<label for="tool_name">Email</label>
							{{ form_errors(form.email) }}
							{{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}	
						</div>
						<div class="form-group col-md-12">
							<a href="{{ path('login') }}">
							<button class="btn btn-default pull-left" type="button">Zur&uuml;ck zum login</button>
							</a>
							{{ form_widget(form.send, {'label': 'Zurücksetzen', 'attr': {'class': 'pull-right btn btn-primary'}}) }}
					    </div>	
						{{ form_end(form) }}
					</div>
				</div>
			</form>
		</div>
	</div>
{% endblock %}