{% extends '::base.html.twig' %}

{% block body %}

	<h1>Angestellte/r: {{ employee.fullName }}</h1>

	{{ include('TimetrackerBundle:Calendar:navigation.html.twig') }}
	<table class="table table-condensed" style="table-layout:fixed;">
		<col width="20%">
		<col width="20%">
		<col width="20%" align="right">
		<col width="40%">
		<thead>
			<tr>
				<th colspan="4">
					<div class="pull-right">
						Gesamtarbeitszeit: <span class="working_hours">{{ calendar.totalWorkingHours }}</span> <br />
						{% if(calendar.view != 'day') %}
							Durchschnitt pro Tag (Monat): {{ calendar.averageHoursForMonth }}<br />
							Durchschnitt pro Tag (Jahr): {{ calendar.averagehoursforYear }}<br />
							&Uuml;berstunden: {{ calendar.getOvertime }}
						{% endif %}
					</div>
				</th>
			</tr>
			<tr>
				<th>Tag</th>
				<th>Arbeitszeit (in Stunden)</th>
				<th>Status</th>
				<th>Notiz</th>
			</tr>
		</thead>
		<tbody>
			{% for day in calendar.days %}
				<tr class="{{ day.isWeekend() ? 'active' : '' }} {{ calendar.hasIrregularLogs(day) ? 'danger' : '' }} {{ calendar.getHoliday(day) ? 'warning' : '' }}">
					<td>
						<a href="{{ path('calendar_show', {'employee': employee.id, 'year': day.year, 'month': day.month, 'day': day.day }) }}">
							{{ day.format('d.m.Y') }}
						</a>
					</td>
					<td>
						{{ calendar.getWorkingHours(day) }}
						{{ calendar.getHoliday(day) }}
					</td>
					<td>
						{% if( day.isWeekday() ) %}
							<a href="#" class="status"
							   data-name="Status"
							   data-type="select"
							   data-pk="1"
							   data-url="{{ path("notes_store", {'id': employee.id, 'year': day.year, 'month': day.month, 'day': day.day}) }}"
							   data-title="Status">
								{{ calendar.getStatus(day)|trim}}
							</a>
						{% endif %}
					</td>
					<td>
						<a href="#" class="note"
						   data-name="Body"
						   data-type="textarea"
						   data-pk="1"
						   data-url="{{ path("notes_store", {'id': employee.id, 'year': day.year, 'month': day.month, 'day': day.day}) }}"
						   data-title="Notiz">
						   {{- calendar.note(day) -}}
						</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	{% if(calendar.view == 'day') %}
		{{ include('TimetrackerBundle:Calendar:details.html.twig') }}
	{% endif %}

{% endblock %}

{% block javascripts %}
	<script>
		$(document).ready(function() {
		    $('.note').editable({
		    	emptytext: '<i class="glyphicon glyphicon-plus"></i>',
		    });

		    $('.status').editable({
				source: [
					{value: null, text: '-- Keine Angabe --' },
					{value: 1, text: 'Urlaub'},
					{value: 2, text: 'Krank'},
					{value: 3, text: 'Schule'},
					{value: 4, text: 'Halber Tag'}
				],
		    	emptytext: '<i class="glyphicon glyphicon-play"></i>',
			});

			{% for day in calendar.days %}
				{% if calendar.hasIrregularLogs(day) %}
					addTimer();

					function addTimer() {
						var timestring = $('.working_hours').html();
						var timeparts = timestring.split(':');

						var working_hours = parseInt(timeparts[0]);
						var working_minutes = parseInt(timeparts[1]);

						var date = new Date();
						var date2 = new Date();

						//var current_hours = date.getHours();
						//var current_minutes = date.getMinutes();

						{% for log in calendar.logs %}
							{% if loop.last == 1 %}
								var last_hours = parseInt('{{ log.time | date('H') }}');
								var last_minutes = parseInt('{{ log.time | date('i') }}');
							{% endif %}
						{% endfor %}

						date2.setHours(last_hours);
						date2.setMinutes(last_minutes);

						var timeDiff = Math.abs(date2.getTime() - date.getTime());
						var diffMinutes = Math.ceil(timeDiff / (1000 * 60));

						var hours = Math.floor(diffMinutes / 60);
						var rest = diffMinutes - hours * 60;

						var minutes = rest;

						var total_hours = hours + working_hours;
						var total_minutes = minutes + working_minutes;

						if( total_minutes > 60 ) {
							total_hours++;
							total_minutes = total_minutes - 60;
						}

						if( total_hours < 10 ) {
							total_hours = '0' + total_hours;
						}
						if( total_minutes < 10 ) {
							total_minutes = '0' + total_minutes;
						}

						$('.working_hours').html(total_hours + ':' + total_minutes);
					}
				{% endif %}
			{% endfor %}

		});
	</script>
{% endblock %}
