{% extends '::base.html.twig' %}

{% block body %}
    <h1>Log erstellen</h1>
	
	{{ form_start(form, {'action': path('log_store', {'employee': employee.id}), 'method': 'POST'}) }}
		
		{{ form_errors(form) }}

		<div class="form-group">
			{{ form_label(form.time, 'Uhrzeit') }}
			{{ form_errors(form.time) }}
			{{ form_widget(form.time) }}
		</div>

		<div class="form-group">
			{{ form_label(form.card, 'Karte') }}
			{{ form_errors(form.card) }}
			{{ form_widget(form.card) }}
		</div>

		<input type="submit" class="btn btn-primary" value="Neuen Eintrag erstellen">
        <a href="{{ path('calendar_show', {
        	'employee': employee.id,
        	'year': time.format('Y'),
        	'month': time.format('m'),
        	'day': time.format('d') }) }}" class="btn btn-default">Zurück</a>

	{{ form_end(form) }}

{% endblock %}
